.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore
.env
.env.*
!.env.example

venv
.venv
env
.envrc

node_modules
dist
build

.coverage
htmlcov
.mypy_cache
.ruff_cache

uvicorn.out.log
uvicorn.err.log
*.log

app/keys/*.pem

.DS_Store
Thumbs.db
